Django==1.11.15
gunicorn==19.3.0
pep8==1.6.2
djangorestframework==3.5.3
django-rest-swagger==2.1.1
python-memcached==1.58
MySQL-python==1.2.5
django-mysql=2.4.1
django-jsonfield=1.0.1
django-haystack=2.8.1
